.card-poster-button-container {
  width: fit-content;
  background-color: black;
  padding: 15px 15px;
  border: solid white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
  margin: auto;
}

.card-poster-button-container:hover {
  color: black;
  background-color: white;
}
