.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main {
  /* background-color: red; */
  color: white;
  /* position: absolute;
  top: 35vw;
  left: 0; */
  flex-grow: 1;
}
